.navbar-bg {
  background-color: var(--color-primary);
}


div.navbar-nav {
  /* margin-left: 50px; */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.link-navbar {
  font-size: 13.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: aliceblue !important;
  padding: 0 !important;
}

.link-navbar:hover {
  font-size: 13.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.logout {
  display: flex;
}

.logout p {
  margin: 0;
}

.logout img {
  margin-left: 5px;
}
