* {
  margin: 0;
  padding: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  padding: 3px;
}
.footer-info {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
